<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Curudd.Properties.Settings.userConnectionString" connectionString="Data Source=LAPTOP-BTBK1PH2\SQLEXPRESS;Initial Catalog=user;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Curudd.Properties.Settings.pbdConnectionString" connectionString="Data Source=DESKTOP-NR11B30\SQLEXPRESS;Initial Catalog=pbd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>